.env
데이터분석/Pandas/DataFrame/data
머신러닝/02. 교차검증/datasets
머신러닝/04. 다항회귀/data
*.mmap
머신러닝/실습/data
**/data/
run_experiment*
setting*
자연어
자연어딥러닝/26-05-13-CNN/cc.ko.300.vec
LLM/26-06-02/step1/__pycache__
LLM/26-06-04/t5_sentiment_results
LLM/26-06-04/t5_lora_results
*.pt
LLM/26-06-04/gpt_dpo_results
LLM/26-06-04/gpt2_sft_results
LLM/26-06-04/gpt2_dpo_results
LLM/26-06-08/chroma_db_session
LLM/26-06-08/local_qwen_model
LLM/26-06-09/extracted_images
LLM/26-06-09/chroma_db
LLM/26-06-09/chroma_db_hf
LLM/26-06-09/sample_paper.pdf